.faq-section__details {
	margin-bottom: 6px;
}

.faq-section__summary {
  display: block;
	cursor: pointer;
}

.faq-section__summary::-webkit-details-marker {
  display: none;
}

.faq-section__summary::before {
  content: "\25B6";
	color: #647F94;
  padding-right: 0.5em;
}

.faq-section__details[open] > .faq-section__summary::before {
  content: "\25BC";
	color: #647F94;
}

.faq-section__details[open] > div {
	margin: 14px;
}

.faq-section__details[open] > div > p {
	margin-top: 6px;
}

.faq-section__link {
	border-bottom: 1px dashed #647F94;
}

.faq-section__link-margins {
	margin-top: 30px;
}